body
{
text-align:center;
background-color:#e8ebf1;
}
#container
{
	
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:40%;
	height:auto;

	

}
#logoing{width:20%;
height:auto;}

#top
{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	background-color:#025476;
	text-align:center;
	font-family:'Roboto',sans-serif;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	font-size:1.5em;
	margin-top:0px;
	left:0px;
	margin:0px;
	
}

#login_form
{
	position:relative;
	float:left;
	width:100%;
	height:auto;		
	font-family:'Roboto', sans-serif;
	color:gray;
	font-size:1.0em;
	padding-top:0px;
	padding-bottom:40px;
	margin-bottom:20px;
	background-color:#fff;
	margin-top:0px;
	border:1px solid #e4e6ea;
	
}



.form_field_label
{
	position:relative;
	float:left;
	margin-left:20px;
	width:30%;
	padding:7px;
	height:20px;
	text-align:left;
	font-size:1.3em;
	top:20px;
	left:6%;
	float:left;
	color:#a0a0a0;
	font-weight:400;
	font-family:'Roboto',sans-serif;

}

.form_field{
position:relative;
float:left;
width:80%;
margin-left:10%;
float:left;
height:auto;
margin-top:30px;}

.form_field input{
position:relative;
float:left;
width:97%;
font-size:1.2em;
height:50px;
background-color:#f2f2f2;
font-family:Gill Sans / Gill Sans MT, sans-serif;
margin-top:0px;
border:1px solid #e8ebf1;
border-radius:1px;
-moz-border-radius:1px;
-webkit-border-radius:1px;
padding-left:3%;
}


#submit_button{position:relative;
float:left;
left:10%;
width:80%;
margin-top:30px;
height:auto;
}

#submit_button  input{
display:block;
width:100%;
/*background-color:#63cabc;*/
background-color:#025476;
border:0px;
padding-bottom:25px;
padding-top:25px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
font-family:'Roboto', sans-serif;
color:#fff;
font-size:1.0em;
cursor:pointer}

#submit_button  input:hover{
background-color:#025068;}

.error
{
	margin:0 auto;
	background-color:red;
	padding:4px;
	width:80%;
	height:20px;
	color:#fff;
	text-align:center;
	font-size:.9em;
	margin-bottom:20px;
	font-family:Century Gothic, sans-serif;
	
}

/*RESPONSIVE*/
@media only screen  and (max-width :640px){
#container{width:80%;}
}
@media only screen  and (max-width :480px){
#container{width:100%;}
}