@import url(autocomplete.css);
@import url(menubar.css);
@import url(general.css);
@import url(popupbox.css);
@import url(register.css);
@import url(receipt.css);
@import url(reports.css);
@import url(tables.css);
@import url(thickbox.css);
@import url(datepicker.css);
@import url(editsale.css);

body
{
	margin:0px;
	padding:0px;
	background-color:#fff;

	
}
a{
	font-size:10pt;
}


#h3bienvenido{ 
position:relative;
text-align:center;
font-size:3.2em;
width:90%;
color:#313333;
margin-left:5%;
margin-bottom:40px;
font-weight:400;
font-family:'Raleway', sans-serif;

}


#ico-ayuda{
width:19px;
height:auto;}

#manual-ayuda{
position:absolute;
width:10%;
height:auto;
right:5px;
margin-top:25px;
text-align:center;

}


#manual-ayuda a{color:#fff;
font-size:1.1em;
display:block;
width:68%;
height:17px;
padding:3px;margin-left:15%;
background-color:#0397b7;
/*
border:2px solid #63cabc;*/
border:2px solid #018aa3;
display:block;
} 


#home_module_list
{

	position: relative;
	float:left;
	width:100%;
margin-bottom:80px;
    margin-top:-20px;

	
	
}



.module_item
{
position:relative;
width:25%;
height:230px;
padding:20px;
color:#000;
float:left;
margin-left:3%;
left:5%;
background-color:#f5f6f7;
border:7px solid #d9dfed;
margin-top:20px;
top:-20px;
box-sizing:border-box;
text-align:center;
-moz-box-sizing:border-box;

}



.module_item:hover{
/*
border:7px solid #63cabc;
*/
border:7px solid #018aa3;

cursor:pointer;
-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.25);
box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.25);
}
.module_item  a,.module_item  a:hover, #a-name-catego a{border:none;}


#a-name-catego{ 
text-align:center;
color:#f7624d/*ed7e1b*/; 
font-weight:bold; 
font-family:'Roboto',sans-serif;
font-size:1.4em;
display:block;
width:100%;
height:auto;
margin-bottom:5px;
}
 
 .module_item  #url-home-img-module{
width:100%;
display:block;
}
.module_item  a img{
width:121px;
height:auto;
}
 
#config_wrapper
{
	text-align:center;
}

#config_info
{
	position:relative;
	float:left;
	width:50%;
	margin-bottom:30px;
	margin-top:10px;
	margin-left:25%;
}

#footer
{
	position:relative;
	margin-top:25px;
	margin-bottom:15px;	
	text-align:center;
	font-size:11px;
	color:#777777;
	clear:both;
	
}

#content_area_wrapper
{
	position:relative;
	float:left;
	width:100%;
	padding:10px 0px 0px 0px;
	text-align:center;	
	height:auto;
	

}

#content_area
{
	position:relative;
	float:left;
	height:auto;
	width:90%;
	text-align:left;
	margin-left:5%;

	
	
}


#page_title2
{position:relative;
float:left;
	margin-top:0px;
	font-size:30px;
	font-weight:bold;
	color:#018aa3;
	background-color:#e8ebf1;
	top:0px;
	height:40px;
	text-align:center;
    font-family:'Cabin', sans serif;
	display:block;
	font-weight:100;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	margin-bottom:20px;

}


	

#page_title
{position:relative;
float:left;
	margin-top:0px;
	font-size:30px;
	font-weight:bold;
	color:#018aa3;
	background-color:#e8ebf1;
	top:0px;
	height:40px;
	text-align:center;
    font-family:'Cabin', sans serif;
	display:block;
	font-weight:100;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	margin-bottom:20px;

}

#spinner
{
	position:absolute;
	display:none;
	right:21%;
	top:5px;
}

#feedback_bar
{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:auto;	
	opacity: 0;
	filter: alpha(opacity=0);
	z-index:1;
	line-height:3.3;
        
}
