
/*el nombre div era well*/
/*ENVUELVE  titulos y LOS INPUT DE LOS FORMULARIOS POPUP*/
.fieldset_form_popup
{position:relative;
float:left;
width:100%;
height:auto;}


#customer_basic_info, #item_basic_info, #item_kit_info,
#supplier_basic_info, #employee_basic_info, #employee_login_info, #employee_permission_info, #giftcard_basic_info, #new_service_info,
#cobro_info, #gastos_info, #pedidos_basic_info
{position:relative;
float:left;
width:100%;
height:auto;}


/*ENVUELVE titulos y LOS INPUT DE LOS FORMULARIOS POPUP*/


/*MSJ Campos requeridos*/
#required_fields_message
{
	position:relative;
	float:left;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	font-family:'Cabin' , sans-serif;
	height:30px;
	padding-top:10px;
	background-color:#fb5d5d;
	font-size:1.2em;
	color:#fff;
	margin-bottom:0px;
}

/*titulo del formulario*/
.name-forms-popup
{position:relative;
float:left;
width:100%;
margin-top:0px;
color:#000;
font-family: 'Roboto', sans-serif;
text-align:center;
font-weight:400;
font-size:1.5em;
border-bottom:1px solid #d9dfed;}




/*envuelve un label y un input*/
.field_row 
{
	position:relative;
	float:left;
	width:90%;
	margin-left:5%;
	

}


/*labels*/
.field_row label 
{
	position:relative;
	float:left;
	width:100%;
	text-align:left;
	color:#000;
	font-size:1.2em;
	margin-top:5px;
	font-family: 'Roboto', sans-serif;
	
	display:block;

}



label.required
{
	color:red;
}

 
 /*envuelve inputs*/
.form_field
{
	position:relative;
	width:100%;
 	float:left;
	height:auto;
margin-top:10px;


}
.form_field_medium_input
{
	position:relative;
	width:49%;
	margin-right:1%;
 	float:left;
	height:auto;
margin-top:10px;
}

  /*inputs*/
body .form_field input
{
 	position:relative;
	width:96%;
 	float:left;
	height:40px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;
font-family:'Roboto', sans-serif;

	
}
body .form_field_medium_input input
{
 	position:relative;
	width:85%;
 	float:left;
	height:35px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;

	
}

  /*select*/
body .form_field select
{
 	position:relative;
	width:97.3%;
 	float:left;
	height:40px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;

	
}

  /*checkbox*/
  
 .field_row_checkbox{position:relative;
	float:left;
	width:90%;
	margin-left:5%;
	margin-top:10px;}
  
   .field_row_checkbox label{
	position:relative;
	float:left;
	width:50%;
	text-align:left;
	color:#000;
	font-size:1.0em;
	margin-top:8px;
	font-family: 'Roboto', sans-serif;
	display:block;
   }
   
body  .checkbox_form{
	position:relative;
 	float:right;
	width:25px;
	margin-top:8px;
	height:25px;
	display:block;
	background-color:#fff;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;
	}
	

 .form_field textarea 
{
 	position:relative;
	width:95.5%;
 	float:left;
	height:60px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 4px  ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;
	
}


.percent-ico
{position:relative;
	margin-left:2%;
	margin-top:5px;
 	float:left;
	width:auto;}
	
.submit_button 
{
	position:relative;
	width:90%;
	margin-left:5%;
	margin-top:30px;
 	float:left;
	height:60px;
	background-color:#018aa3; 
	color:#fff;
	cursor:pointer;
		border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;
	font-size:1.4em;
	font-family: 'Roboto', sans-serif;
	border:1px solid #047584;
}


.submit_button:hover{
	border: 2px solid #025476;
	background-color:#025476;}

	
	
	
/*DISEÑO VARIOS POPUP FORM*/


#title_image_item
{position:relative;
float:left;
width:90%;
color:#018aa3;
font-family: 'Roboto', sans-serif;
text-align:left;
font-weight:400;
padding:5%;
font-size:1.2em;}

	
#btn-uploadfile{
border:0px;
}
/*Diseño cliente*/
.field_row_name_client{
position:relative;
	float:left;
	width:90%;
	margin-left:5%;
	margin-bottom:20px;
}

.field_row_name_client label {
position:relative;
float:left;
width:auto;
margin-right:6px;
color:#000;
font-family: 'Roboto', sans-serif;
text-align:left;
font-size:1.4em;
font-weight:bold;
	
}
/*Diseño employee*/
#employee_basic_info
{
	float:left;
	width:47%;
	padding:5px;
}

#employee_login_info
{
	float:left;
	width:47%;
	margin-left:5px;
	padding:5px;
}

#permission_list
{
	list-style:none;
}

#permission_list li
{
	position:relative;
	float:left;
	padding:5px;
	color:#000;
	font-size:1.0em;
	margin-top:5px;
	margin-left:5px;
	width:100%;
}

#permission_list input
{
	position:relative;
	float:left;
	top:0px;
	width:17px;
	height:17px;
	margin-left:5px;
}

#employee_permission_info
{
	float:left;
	width:47%;
	margin-left:5px;
	padding:5px;
}
#employee_permission_info p
{
	font-weight:bold;
	font-family:'Roboto', sans-serif;
	color:#000;
}

#employee_permission_info span.small
{
	font-style:italic;
	font-size:80%;
	font-size:1.0em;
}

/*end Diseño employee*/
	
	
	
.delete_button 
{
	padding: 5px;
	color: #fff;
	background-color: #ea4729;
	border: 2px solid #ddd;
}




#customer_basic_info,#item_basic_info,#item_number_info,#supplier_basic_info
{
	padding:5px;

}



#scan_item_number.loading
{
	background-image: url(../images/menubar/spinner_small.gif);
	background-position:center right;
	background-repeat:no-repeat;	
	
}

#info_provided_by
{
	display:none;
	font-weight:bold;
}





#error_message_box
{
	margin-bottom:7px;
	margin-left:20px;
	color:red;	
}
#item_kit_items_title
{
	text-align: center;
}
#item_kit_items
{
	width: 100%;
}

#item_kit_items th
{
	text-align: center;
	font-weight: bold;
}

#item_kit_items td
{
	text-align: center;
}