a{text-decoration:none;}


#section-detalle-item{
height:auto;
margin-bottom:90px;
margin-top:70px;
}


#box-img-item{
position:relative;
float:left;
width:50%;
margin-left:5%;
margin-right:5%;
top:20px;
height:auto;
}
.box-descrip{
position:relative;
float:right;
width:30%;
margin-right:10%;
margin-top:20px;
height:auto;
}

#box-img-item img{
position:relative;
width:80%;
left:10%;
height:auto;}

#box-titulo-item{
position:relative;
width:100%;
text-align:center;
border-bottom:1px solid #c1c1c1;
margin-top:10px;
float:left;
height:auto;



}


.titulo-item{
position:relative;
padding:3px;
float:left;
letter-spacing:1px;
font-size:1.1em;
width:96%;
padding:2%;
height:auto;
display:block;
font-family:Arial, Helvetica, sans-serif;
}
.box-subtitulos-detalle{
position:relative;
width:96%;
padding:2%;
float:left;
height:auto;
border-bottom:1px solid #c1c1c1;

}
.box-izq{position:relative;
float:left;
width:49%;
height:auto;
}
.comprar{
position:relative;
width:90%;
float:right;
display:block;
height:auto;
padding-top:17px;
padding-bottom:17px;
background-color:#ff8048;
right:1%;
margin-top:10px;
text-align:center;
font-size:.8em;
font-family:arial;
font-weight:400;
color:#fff;
}
.comprar:hover{background-color:#00a299;}


#ficha{color:#ff8048;}



#precio-detalle,#precio-num, #iva{
position:relative;
float:left;
font-size:1.0em;
font-family:Arial, Helvetica, sans-serif;
color:#c4c4c4;
width:93%;
height:auto;
display:block;
margin-top:5px;
padding:3px;
letter-spacing:.5px;
}

#precio-num{
color:#01aeb9;
font-size:1.4em;
}
#iva{
font-size:.7em;
color:#f39003;
}

#color, #modelo{
font-size:.8em;
font-family:Arial, Helvetica, sans-serif;
letter-spacing:.5px;
color:#c4c4c4;
position:relative;
float:left;
width:90%;
height:auto;
font-weight:bold;
display:block;
padding:3px;
}


.txt-modco{
color:gray; 
font-weight:200;
}

.base-decripcion{
position:relative;
width:96%;
top:20px;
padding:2%;
float:left;
height:auto;
border-bottom:1px dashed #01aeb9;

}
.base-decripcion h3{position:relative;
width:89%;
font-size:.9em;
letter-spacing:.5px;
font-family:arial;
color:#c4c4c4;
top:5px;
margin:5px;
}

.base-decripcion p{position:relative;
text-align:justify;
width:90%;
color:gray;
margin:5px;
top:8px;
font-size:.9em;
font-family:arial;
margin-bottom:30px;}

#lista-caracte{position:relative;
width:90%;
list-style-image:url("../images/ico/li-azul.png");
}

#lista-caracte li{
color:gray;
margin-top:5px;
width:100%;
font-size:.9em;
font-family:arial;
}

#ver-mas{position:relative;
width:100%;
height:auto;
color:#ff8048;
text-align:center;
border:5px solid #e5e5e5;
padding-top:20px;
padding-bottom:20px;
float:left;
font-family:Arial;
font-size:1.1em;
display:block;
margin-top:40px;
}




