
html, body {
height: 100%;
}

a{text-decoration:none;}

body{
	margin: 0;
	border: 0;
	padding: 0;
}



.wrapper
{
	padding: 0 auto;
	position: relative;
	width:100%;
    margin: 0 auto;
	height:auto;

}
#wrap-index {
padding: 0 auto;
	position: relative;
	width:100%;
    margin: 0 auto;
	height:auto;
}
/*slide*/


/*ESTILO HEADER  HOME*/
#wrap-index header{
position:fixed;
background-color:rgba(41,49,58,.8);
margin-top:30px;
width:90%;height:66px;
margin-left:5%;
border-radius:10px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
z-index:1000;
}


#wrap-index .logo-index-header{
position:relative;
float:left;
margin-left:5%;
width:190px;
height:auto;
display:block;
margin-top:7px;
}


#wrap-index nav{
position:relative;
width:48%;
float:left;
margin-left:15%;
height:100%;
margin-top:15px;



}

#wrap-index #menu-nav {
	height:100%;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	list-style:none;

}
#wrap-index #menu-nav li{
position:relative;
float:left;
width:17.5%;
height:34px;
padding-left:1%;
padding-right:1%;
text-align:center;
border-right:1px solid #1d2020;


}
 #wrap-index #menu-nav a{
text-decoration:none;
display:block;
color:#fff;
height:20px;
padding-top:10px;
font-family: 'Raleway', sans-serif;
font-size:.8em;
}

#wrap-index #menu-nav a:hover{
border-bottom:2px solid #1ac1b4;
transition:border-color .4s ease .1s;
-moz-transition:border-color .4s ease .1s;
-webkit-transition:border-color .4s ease .1s;
-o-transition:border-color .4s ease .1s;
}



#wrap-index #box-mycar{
position:relative;
float:right;
width:8%;
margin-top:15px;
right:2%;
height:auto;}

#wrap-index .img-span{position:relative;
float:left;
width:auto;
margin-left:10%;
left:25%;
height:auto;
}
#wrap-index #number-car{
position:absolute;
width:20px;
height:18px;
right:0px;
text-align:center;
background-color:#06bbb1;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
font-family:verdana;
font-size:.8em;
color:#fff;
}


/*ESTILO MENU HEADER SECTIONS*/


.wrapper header{
position:relative;
float:left;
width:100%;
height:auto;
float:left;
padding-bottom:10px;	
background-image:url("../images/banner/banner-sections/servicios-web.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
z-index:100;}



#wrap-serv header{

	
}

.wrapper  .cover-header{position:absolute;
width:100%;
height:100%;
background-color:rgba(0,0,0,.6);}

.wrapper   .logo-index-header{
position:relative;
float:left;
margin-left:10%;
width:20%;
height:auto;
display:block;
margin-top:40px;
}  

.wrapper  nav{
position:relative;
width:80%;
margin-right:10%;
float:right;
margin-top:30px;
height:auto;
background-color:#29313a;

}

.wrapper #menu-nav {
	height:100%;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	list-style:none;

}
.wrapper  #menu-nav li{
position:relative;
float:left;
width:18.8%;
height:100px;
padding-left:.5%;
padding-right:.5%;
text-align:center;
border-right:1px solid #1d2020;


}
 .wrapper  #menu-nav #nav-cont{border:0px
}

/*NAV ACTIIVEE*/
#wrap-index #nav-home a{border-bottom:2px solid #1ac1b4;}
#wrap-serv #nav-serv a,
#wrap-port #nav-port a,
#wrap-contac  #nav-cont a,
#wrap-tienda  #nav-tienda a
{
border-bottom:4px solid #1ac1b4;
}



.wrapper  #menu-nav a{
text-decoration:none;
display:block;
color:#bbbbbb;
height:56px;
padding-top:40px;
font-family: 'Raleway', sans-serif;
font-size:.8em;
}

.wrapper  #menu-nav a:hover{
border-bottom:4px solid #1ac1b4;
transition:border-color .4s ease .1s;
-moz-transition:border-color .4s ease .1s;
-webkit-transition:border-color .4s ease .1s;
-o-transition:border-color .4s ease .1s;
}



.wrapper  #box-mycar{
position:relative;
float:right;
width:8%;
margin-top:65px;
right:9%;
height:auto;}

.wrapper  .img-span{position:relative;
float:left;
width:auto;
margin-left:10%;
left:25%;
height:auto;
}
.wrapper  #number-car{
position:absolute;
width:20px;
height:18px;
right:0px;
text-align:center;
background-color:#06bbb1;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
font-family:verdana;
font-size:.8em;
color:#fff;
}



.menu-movil{
position:absolute;
display:none;
width:auto;
height:auto; 
right:15%;
margin-top:13px;

}
.menu-movil img{
width:37px;
height:35px;

}



/*ESTILO FOOTER*/
footer{
position:relative;
width:100%;
height:auto;
background-color:#29313a;
float:left;
margin:0 auto;
padding-top:50px;
}




.titulos-pie{
position:absolute;
font-family:'Roboto', sans-serif;
display:block;
font-size:1.3em;
margin-top:0px;
color:#d5d5d5;
font-weight:100;
width:80%;}

.box-pie{
position:relative;
float:left;
width:20%;
padding:1%;
padding-bottom:90px;
height:auto;
margin-left:1%;
left:3%;
}

.blueberrys{
position:relative;
float:left;
width:100%;
height:auto;
}
.blueberrys img{width:100%;}
.img-pie{
position:relative; 
width:80%;
float:left;
height:auto;
margin-top:-13px;}

.txt-somos{
position:relative;
float:left;
width:80%;
height:auto;
font-family: 'Raleway', sans-serif;
text-align:justify;
font-size:0.8em;
color:#d8ccdb;}

/*UL PIE*/
.box-pie ul {
	height:100%;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	position:relative;
	float:left;
	padding-left:15%;
	margin-top:40px;
	

}
.box-pie ul  li{
float:left;
width:100%;
font-family: 'Raleway', sans-serif;
height:auto;
display:block;
margin-top:5px;}

.box-pie a{
color:#a5a5a5;
width:80%;
height:auto;
float:left;
text-decoration:none;
font-size:0.8em;
font-family:'Raleway' sans-serif;
}

.box-pie a:hover {color:#28adc5;
} 

#txt-contac-pie{
position:relative;
float:left;
width:80%;
font-family: 'Raleway', sans-serif;
color:#a5a5a5;
font-size:0.8em;
padding-left:15%;
	margin-top:40px;
}

.box-copy-redes{position:relative;
float:left;margin-top:10px;
height:auto;
width:100%;
padding-top:50px;
padding-bottom:50px;
background-color:#080a0a;
left:0px;

}
.pie-copy{
position:relative;
float:left;
text-align:left;
font-family:'Roboto', sans-serif;
font-size:0.9em;
color:#41464c;
margin-left:14%;
margin-top:20px;
font-weight:100;
}
.color-p{color:#28adc5;
font-family:Arial;}




.img-redes-pie { position:relative;
float:left;
margin-left:6px;
left:7%;
margin-left:.5%;
padding:10px;
width:50px;
height:50px;
margin-top:10px;
margin-bottom:10px;
background-color:#29313a;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
}

.img-redes-pie:hover{
background-color:#0160aa;
}



.ir-arriba{display:none;
	height:33px;
	padding-top:12px;
	text-align:center;
	width:45px;
	border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
	background-color:rgba(0,0, 0,.9);
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:6px;
	right:10px;
	z-index:2000;
	font-weight:600;
	font-family:'Raleway', sans-serif;
	text-transform: none;
	font-size:1.3em;

	}
	
	

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/