
/*------------DISEÑO DE MANAGE Y TABLAS---------------*/



/*CABECERA DEL MANAGE*/
#title_bar
{
	position:relative;
	margin-bottom:10px;
	float:left;
	width:100%;
	background-color:#bfc6d1;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
}

/*TITULO DEL MODULO EN EL MANAGE */
#title
{
	position:relative;
	left:2%;
	float:left;
	font-size:2.2em;
	color:#025476;
	width:40%;
	font-weight:500;
	margin-top:10px;
	font-family:'Cabin', sans-serif;

   
}

/*BOTONES DEL MANAGE PARTE DE ARRIBA(excel y nuevo)*/
#cover_buttons_top_manage
{
	position:relative;
	float:right;
	width:60%;
	right:2%;	
	height:auto;
	float:right;
	
}


.buttons_top_manage
{
	position:relative;
	float:right;
	margin-right:5px;
	height:40px;
	width:27%;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	cursor:pointer;	 
	background-color:#fb5d5d;
	border:1px solid #e05858;
	/*20af67*/
	padding-left:2%;

}
.buttons_top_manage:hover{background-color:#f96767;/*0283a0*/}

.buttons_top_manage img{
position:absolute;
margin-top:5px;
}


.buttons_top_manage span
{
	position:relative;
	color:#fff;
	width:100%;
	display:block;
	float:left;
	padding:10px 0px 0px 0px;
	font-size:1.0em;
	font-weight:400;
	text-align:center;
	font-family:'Cabin', sans serif;
	letter-spacing:.5px;
}


/*----------SUB-CABECERA DEL MANAGE--------*/
#table_action_header
{
	position:relative;
	width:100%;
	height:auto;
	padding-top:15px;	
	padding-bottom:10px;
	float:left;
	background-color:#e8ebf1;
	margin-bottom:10px;
	margin-top:-10px;
}


#table_action_header ul
{
	list-style:none;
	padding:0px;
	width:96%;
	padding:0px 2% 0px 2%;
	height:auto;

}
/*----BUSCAR EN TABLAS EN MANAGE-----*/
#box-buscar{
position:relative;
float:left;
width:30%;
margin-left:0%;
margin-right:5px;
height:auto;
}

#box-buscar img{
float:left;
width:24px; margin-right:6px;
height:auto;}


#box-buscar input{
	position:relative;
	width:85%;
 	float:left;
	height:35px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;
width:85%;}

#datetimepicker2, #datetimepicker1{position:relative;
	width:100%;
 	float:left;}
	

	

#datetimepicker1 input{width:82%;}
	
#icono-calendar-pedidos, #icono-calendar-pedidos2{		 

position:relative;
	width:8%;
 	float:left;
	height:25px;
	border: 1px solid #ccc;}
	
#icono-calendar-pedidos2{
	width:10%;
	height:30px;
}
#icono-calendar-pedidos i, #icono-calendar-pedidos2 i{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
	
body #icono-calendar-pedidos img, body #icono-calendar-pedidos2 img{
position:absolute;
width:20px;
height:20px;
left:15%;
margin-top:5px;}

/* BOTONES OPCIONES DE LAS TABLAS EN EL MANAGE*/



#btn-borrar-buscar a, 
#btn-mail-buscar a, 
#btn-editar-buscar a
{
	position:relative;
	float:left;
	text-decoration:none;
	text-align:center;
	border:0px;
	width:100%;
	padding-top:10px;
	height:30px;
	font-size:.1em;
	color:rgba(0,0,0,.1);
	display:block;
	

}

#btn-borrar-buscar, #btn-mail-buscar, #btn-editar-buscar{
position:relative;
float:left;
height:40px;
width:40px; 
margin-top:-3px;
margin-right:13px;
left:15px;
 }


/*------------*/
#btn-borrar-buscar
{
background-image:url(../images/ico/garbage.png);
background-repeat:no-repeat;}

#btn-borrar-buscar:hover
{
background-image:url(../images/ico/garbage2.png);
background-repeat:no-repeat;
}
/*----------*/
#btn-mail-buscar
{
background-image:url(../images/ico/correo.png);
background-repeat:no-repeat;}

#btn-mail-buscar:hover
{
background-image:url(../images/ico/corre2.png);
background-repeat:no-repeat;
}
/*-------*/
#btn-editar-buscar
{
background-image:url(../images/ico/editar.png);
background-repeat:no-repeat;}

#btn-editar-buscar:hover
{
background-image:url(../images/ico/editar2.png);
background-repeat:no-repeat;
}

/*-----------*/
#btn-barcode-buscar{
position:relative;
	float:left;
	width:15%;
	margin-top:2px;
	cursor:pointer;
    font-family:'Roboto', sans-serif;
	height:37px;
	left:2%;
	background-color:#9ea9ba;
}

#btn-barcode-buscar:hover{
background-color:#b0b9c6;}


#table_action_header #btn-barcode-buscar a {
position:relative;
text-align:center;
display:block;
padding-top:10px;
border:0px;
width:100%;
height:auto;
padding-top:10px;
padding-bottom :10px;
font-size:1.2em;
font-family:'Roboto', sans-serif;
color:#fff;}

#table_action_header  #btn-barcode-buscar:hover{
background-color:#f59920;
}



/*    BUSCAR CLIENTE EN EL MODULO DE SERVICIOS EN EL MANAGE----*/

#box-buscar-cliente-servicios,
#box_cant_cobros{position:relative;
float:left;
width:50%;
height:auto;
margin-top:0px;
margin-left:3%;
}

#box-btn-cli-ser
{position:relative;
float:left;
width:35%;
}


#box-buscar-cliente-servicios form
{position:relative;
	width:60%;
	margin-right:10px;
	float:left;}
	
body #box-buscar-cliente-servicios input{
	position:relative;
	width:100%;
	float:left;
	height:35px;
	border: 1px solid #d9dfed;
 	padding: 0px 0px 0px 6px  ;
	border-radius:0px;
	-moz-border-radius:0px;
-webkit-border-radius:0px;
	
}

#btn-cliente-servicios 
{
	position:absolute;
	width:98%;
	margin-top:1px;
	cursor:pointer;
    font-family:'Roboto', sans-serif;
	height:34px;
    color: #fff;
	background-color:#9ea9ba;


}

#btn-cliente-servicios:hover{
background-color:#b0b9c6;}

#btn-cliente-servicios span
{position:absolute;
	width:100%;
	color: #fff;
	font-size:1.0em;
	padding-top:9px;
	text-align:center;
	 font-family:'Roboto', sans-serif;
}
#word-cliente{position:relative;
	width:auto;
	font-size:14px;
	font-family:verdana;
	color:#000;
	margin-left:5px;
	font-weight:bold;
	margin-top:10px;
	float:left;
	display:block;}
	
	
#name-customer-servicios{position:relative;
	width:auto;
	font-size:14px;
	font-family:verdana;
	color:#000;
	margin-left:5px;
	margin-top:10px;
	float:left;
	display:block;}

	#name-cuenta{position:relative;
	width:auto;
	font-size:16px;
	font-family:verdana;
	color:#000;
	margin-left:5px;
	margin-top:10px;
	float:left;
	display:block;}

body #delete-customer-servicios

{position:relative;
	width:auto;
	font-size:12px;
	font-family:verdana;
	color:#00717a;
	padding:0px;
	margin-left:10px;
	float:left;
	margin-top:2px;}

	



.box-pagination{
position:relative;
float:left;
width:100%;
height:auto;
padding-top:15px;
padding-bottom:15px;
text-align:center;
font-size:1.6em;
font-weight:bold;
font-family:'Cabin',sans-serif;
margin-bottom:60px;
}

.box-pagination a{

color:gray;
padding:10px 13px 10px 13px;
background-color:#d9dfed;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
font-size:.9em;
font-weight:bold;
font-family:'Cabin',sans-serif
}

.box-pagination a:hover{
color:#018aa3;}


/*
.float_left{
display:block;
width:32%;
height:34px;
float:left;
margin-left:6px;



}



.float_left span
{
	display:block;
	width:98%;
	float:left;
	height:0px;
	background-color:red;
}

COMIENZA EL STYLO DE LAS  TABLAS TABLAS TABLAS TABLAS TABLASSS ----------*/

/*NUEVO ESTILO DE TABLAS CON DIVS*/

/*Envuelve toda la tabla completa*/
#table_holder
{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	margin-bottom:50px;
	margin-top:40px;
	border-left:1px solid #d9dfed;

}

/*envuelve todO EL HEADER de las tablas*/
.cover-header-tablas{
	position:relative;
	float:left;
	width:100%;
	
}


/*envuelve todo  cover_resultados_tabla*/
.tablesorter 
{
position:relative;
float:left;
width:100%;
height:auto;}


.titulos-tablas, .titulos-tablas-b, .titulos-tablas-c, .titulos-tablas-d,.titulos-tablas-e,.titulos-tablas-f{
position:relative;
text-align:center;
padding:10px 0px 6px 0px;
float:left;
height:30px;
font-family:'Roboto', Sans serif;
font-size:1.1em;
border-right:1px solid #d9dfed;
border-top:10px solid #d9dfed;
border-bottom:1px solid #d9dfed;
background-color:#e8ebf1;
font-weight:500;
color:#282828;
}


/*casillas con titulo*/

.titulos-tablas{
width:14%;}

.titulos-tablas-b{
width:9.7%;

}
.titulos-tablas-c
{width:16.5%;}

.titulos-tablas-d
{width:19.8%;}

.titulos-tablas-e
{width:10.90%;}

.titulos-tablas-f
{width:24.5%;}

/* otrooo cover_resultados_tabla*/
.base-casillas{
position:relative;
height:42px;
width:auto;
clear:both;
}
/* otrooo cover_resultados_tabla*/

.casillas-resultados-tablas, .casillas-resultados-tablas-b,
.casillas-resultados-tablas-c,
.casillas-resultados-tablas-d,
.casillas-resultados-tablas-e,.casillas-resultados-tablas-f{position:relative;
float:left;
margin:0px;
border-right:1px solid #d9dfed;
border-bottom:1px solid #d9dfed;
padding:10px 0px 6px 0px;
text-align:center;
height:33px;
font-family:'Roboto', sans-serif;
font-size:1.0em;
color:#6d6d6d;
font-weight:100;
left:0px;
overflow:hidden;
}
.casillas-resultados-tablas{
width:14%;}

.casillas-resultados-tablas-b{
width:9.7%;
padding:10px 0px 6px 0px;}

.casillas-resultados-tablas-c
{width:16.5%;}

.casillas-resultados-tablas-d
{width:19.8%;}

.casillas-resultados-tablas-e
{width:10.90%;}

.casillas-resultados-tablas-f
{width:24.5%;}



.base-casillas:hover .casillas-resultados-tablas-b, .base-casillas:hover .casillas-resultados-tablas,
.base-casillas:hover .casillas-resultados-tablas-c
{background-color:#e8ebf1;}

/*TITLES TABLAS RESPONSIVA*/

.soloVisibleResponsivamente{
position:relative;
float:left;
width:28%;
border-right:1px solid #d9dfed;
margin-top:-10px;
height:33px;
padding:10px 0px 6px 3%;
text-align:center;
font-family:'Roboto', sans-serif;
font-size:1.0em;
background-color:#e8ebf1;
font-weight:400;
display:none;
overflow:hidden;
color:#000;
}


/*HASTA AQUI VOY*/


#opc_buscar{
position:relative;
float:left;
width:100%;
height:auto;



}
#titleTextImg{
position:relative;
float:left;
width:20%;
margin-bottom:0px;
height:auto;
padding-top:12px;
padding-left:2%;
}
#titleTextImg a {
margin-top:-7px;
display:block;
border:none;
}
#search_filter_section{
position:relative;
float:left;
height:25px;
padding-top:10px;
padding-left:2%;
width:75%;}

/*opc-edit*/

#opc-mail a{font-size:.9em;}

#opc-edit a , #opc-edit2 a, #opc-edit3 a, #opc-edit4 a, #opc-edit5 a{
color:#0a7799; border:none;
font-size:1.0em;
}


/*prestamo-area*/
#productos_prestamo{
position:relative;
float:left;
width:97%;
}

.prestamo-box{position:relative;
float:left;
width:100%;
height:auto;
border-bottom:1px solid #d9dfed;
}


#name-pro-pres, #name-pro-pres-head{
	width:30%;
	
}
.head-prestamo{color:#000;font-weight:500;}
.head-prestamo,.head-res-prestamo{
position:relative;
float:left;
width:20%;
padding-left:10%;
font-size:1.2em;
font-family:'Roboto', sans-serif;
padding-top:10px;
height:30px;
padding-bottom:10px;}

body .head-res-prestamo input{width:70%;height:25px;}


/*seccion a TRABAJARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR  tablassss*/
/*


table.tablesorter 
{
	position:relative;
	width:100%;
	border-top:7px solid #e0e0e0;
	border-collapse:collapse;
	height:300px;
	background-color:green;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th 
{
	color:#000;
	text-align:left;
	background-color:#fff;
	padding: 5px 15px 5px 10px;
      font-family:Century Gothic, Sans serif;
      font-size: 15px;
      border: 2px solid #e0e0e0;
        
}

table.tablesorter thead tr .header 
{
	background-image: url(../images/tables/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td 
{
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	padding: 0px 5px 0px 5px;
	
}

table.tablesorter tbody td 
{
	border-bottom:1px solid #FFF;
}

table.tablesorter tbody td.over
{
	background-color:#CCCCCC;
}

table.tablesorter tbody td.selected
{
	background-color:#fff;
}

table.tablesorter thead tr .headerSortUp 
{
	background-image: url(../images/tables/asc.gif);
}

table.tablesorter thead tr .headerSortDown 
{
	background-image: url(../images/tables/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp 
{
	background-color: #8dbdd8;
}

table.innertable
{
	display: none;
}

table.innertable thead tr th 
{
	background-color: #0a6184;
}

table.innertable tbody tr td 
{
	background-color: #DDD;
	
	
	*/
}



/*QUIZA BORRAR*/




